### **EXERCISE 1**

Ex 1: WHERE

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ListPrice > 100;

SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ListPrice <= 50;

The product names and list prices are retrieved from the SalesLT using the aforementioned query. Product table where the price list is larger than 100 or less than or equal to 50; the results are filtered according to the price criterion by using comparison operators.

Ex 1:  <span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">&nbsp;Logical Operators</span>

In [ ]:
SELECT Name, ListPrice, Weight
FROM SalesLT.Product
WHERE ListPrice > 100 AND Weight > 10;

SELECT Name, ListPrice, Weight
FROM SalesLT.Product
WHERE ListPrice < 50 OR Weight > 200;

Products are obtained from the SalesLT.Product database with the queries. Products having a list price of more than 100 and a weight greater than 10 are chosen by the first query. Products having a list price of less than 50 or a weight of more than 200 are chosen by the second query

Ex 1:  Like, In, Between

In [ ]:
SELECT Name, ProductCategoryID
FROM SalesLT.Product
WHERE ProductCategoryID IN (1, 2, 3);

SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ListPrice BETWEEN 50 AND 150;

SELECT Name
FROM SalesLT.Product
WHERE Name LIKE 'A%';

Using various parameters, the aforementioned queries obtain products from the SalesLT.Product table. <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">The products with category IDs of 1, 2, or 3 are chosen by the first query. Products having a list price between 50 and 150 are chosen by the second query. The third query chooses goods whose names begin with the letter "A."</span>

### **EXERCISE 2:**

Ex 2:  Calculation of Transaction Value

In [ ]:
SELECT 
    SalesOrderID,
    ProductID,
    OrderQty,
    UnitPrice,
    (OrderQty * UnitPrice) AS TransactionValue
FROM 
    SalesLT.SalesOrderDetail;

This query multiplies OrderQty by UnitPrice to get the transaction amount after retrieving sales order information from the SalesLT.SalesOrderDetail table.

Ex 2: retrieving month & year.

In [ ]:
SELECT 
    SalesOrderID,
    OrderDate,
    DATENAME(MONTH, OrderDate) + '_' + DATENAME(YEAR, OrderDate) AS Month_Year
FROM 
    SalesLT.SalesOrderHeader;

This query retrieves and formats the month and year from the OrderDate into a Month\_Year format before retrieving sales orders from the SalesLT.SalesOrderHeader table.

Ex 2:  no duplicates

In [ ]:
SELECT DISTINCT
    CustomerID,
    FirstName,
    LastName
FROM 
    SalesLT.Customer;

This query ensures that no duplicate entries appear in the result by retrieving unique customer IDs, first names, and last names from the SalesLT.Customer table

Ex2:  column and table aliases.

In [ ]:
SELECT 
    soh.SalesOrderID AS OrderID,
    soh.OrderDate AS Date,
    sod.ProductID AS ProdID,
    sod.OrderQty AS Quantity,
    sod.UnitPrice AS Price,
    (sod.OrderQty * sod.UnitPrice) AS TransactionValue
FROM 
    SalesLT.SalesOrderHeader AS soh
JOIN 
    SalesLT.SalesOrderDetail AS sod
ON 
    soh.SalesOrderID = sod.SalesOrderID;

aliases for columns and tables are used in the query above to extract sales order data. Selecting and renaming many columns, as well as computing the transaction value, it joins SalesLT.SalesOrderHeader (aliased as soh) and SalesLT.SalesOrderDetail (aliased as sod).

### **EXERCISE 3**

Ex 3: Case in Select statment

In [ ]:
SELECT 
    SalesOrderID,
    OrderQty,
    UnitPrice,
    CASE ProductID
        WHEN 707 THEN 'High Priority'
        WHEN 708 THEN 'Medium Priority'
        ELSE 'Low Priority'
    END AS Priority
FROM 
    SalesLT.SalesOrderDetail;

<span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">This query uses a straightforward Case expression in the Select statement to assign a priority label depending on the ProductID after retrieving sales order details from the SalesLT.SalesOrderDetail table.</span>

Ex 3: Case search using Select statement

In [ ]:
SELECT 
    SalesOrderID,
    OrderQty,
    UnitPrice,
    CASE 
        WHEN UnitPrice > 100 THEN 'Expensive'
        WHEN UnitPrice BETWEEN 50 AND 100 THEN 'Moderate'
        ELSE 'Cheap'
    END AS PriceCategory
FROM 
    SalesLT.SalesOrderDetail;

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">This query uses a searching CASE expression in the SELECT clause to get sales order details from the SalesLT.SalesOrderDetail table and classify the unit price into several pricing categories.</span>

Ex 3: case in where statement

In [ ]:
SELECT 
    SalesOrderID,
    OrderQty,
    UnitPrice
FROM 
    SalesLT.SalesOrderDetail
WHERE 
    CASE 
        WHEN UnitPrice > 100 THEN 1
        WHEN OrderQty > 10 THEN 1
        ELSE 0
    END = 1;

<span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">The sales order information is retrieved from the SalesLT using the query above.Using a Case statement in the Where clause, find the SalesOrderDetail table where either the unit price is larger than 100 or the order quantity is greater than 10.</span>

### **EXERCISE 4**

Ex 4: join SalesOrderDetail and Product with inner-join.

In [ ]:
SELECT 
    sod.SalesOrderID,
    sod.ProductID,
    sp.Name,
    sod.OrderQty
FROM 
    SalesLT.SalesOrderDetail AS sod
INNER JOIN 
    SalesLT.Product AS sp
ON 
    sod.ProductID = sp.ProductID;

The SalesLT.SalesOrderDetail table (aliased as sod) and the SalesLT.Product tables (aliased as sp) are joined internally by this query, which guarantees that the result set contains only entries from both tables that have matching ProductIDs.

Ex 4: Join SalesOrderDetail and Product with left-join

In [ ]:
SELECT 
    sod.SalesOrderID,
    sod.ProductID,
    sp.Name,
    sod.OrderQty
FROM 
    SalesLT.SalesOrderDetail AS sod
LEFT JOIN 
    SalesLT.Product AS sp
ON 
    sod.ProductID = sp.ProductID;

The SalesLT.SalesOrderDetail table (aliased as sod) and the SalesLT.Product table (aliased as sp) are joined on the left in the following query, guaranteeing that all rows from the left table (sod) and any matching rows from the right table (sp) based on ProductID are included in the result set. Columns from the appropriate table are allocated null values if there is no match.

Ex 4: Join SalesOrderDetail and Product with right-join.

In [ ]:
SELECT 
    sod.SalesOrderID,
    sod.ProductID,
    sp.Name,
    sod.OrderQty
FROM 
    SalesLT.SalesOrderDetail AS sod
RIGHT JOIN 
    SalesLT.Product AS sp
ON 
    sod.ProductID = sp.ProductID;

The SalesLT.SalesOrderDetail table (aliased as sod) and the SalesLT.Product tables (aliased as sp) are joined right in this query, guaranteeing that all rows from the right table (sp) and matching rows from the left table (sod) based on ProductID are included in the result set. Columns from the left table are allocated null values if there is no match.

Ex 4:  Join SalesOrderDetail and Product with full -join.

In [ ]:
SELECT 
    sod.SalesOrderID,
    sod.ProductID,
    p.Name,
    sod.OrderQty
FROM 
    SalesLT.SalesOrderDetail AS sod
FULL JOIN 
    SalesLT.Product AS p
ON 
    sod.ProductID = p.ProductID;

The SalesLT.SalesOrderDetail table (aliased as sod) and the SalesLT.Product tables (aliased as p) are fully joined in the query above, guaranteeing that all rows from both tables are included in the result set regardless of whether a matching ProductID exists. Columns from the other table are assigned null values if there is no match.

Ex4: Join SalesOrderDetail and Product with cross-join.

In [ ]:
SELECT 
    sod.SalesOrderID,
    sod.ProductID AS SalesProductID,
    sp.ProductID AS ProductID,
    sp.Name
FROM 
    SalesLT.SalesOrderDetail AS sod
CROSS JOIN 
    SalesLT.Product AS sp;

The SalesLT.SalesOrderDetail table (aliased as sod) and the SalesLT.Product table (aliased as sp) are cross-joined by this query, producing a Cartesian product that combines all of the rows from the two tables.

Ex 4: join SalesOrderHeader and Customer with inner-Join

In [ ]:
SELECT 
    soh.SalesOrderID,
    soh.OrderDate,
    sc.CustomerID,
    sc.FirstName,
    sc.LastName
FROM 
    SalesLT.SalesOrderHeader AS soh
INNER JOIN 
    SalesLT.Customer AS sc
ON 
    soh.CustomerID = sc.CustomerID;

Using an inner join between the SalesLT.SalesOrderHeader (aliased as soh) and SalesLT.Customer (aliased as sc) tables, this query retrieves customer and sales order details based on matched CustomerIDs.