### **EXERCISE 5**

Ex 5:  Arranging products by Listprice in ascending order

In [ ]:
SELECT 
    ProductID,
    Name,
    ListPrice
FROM 
    SalesLT.Product
ORDER BY 
    ListPrice ASC;

This query pulls product details from the SalesLT.Product table and uses the ListPrice column to determine the ascending order.

Ex 5: Arranging products by Listprice in descending order

In [ ]:
SELECT 
    ProductID,
    Name,
    ListPrice
FROM 
    SalesLT.Product
ORDER BY 
    ListPrice DESC;

The SalesLT.Product table's product details are selected by this query, which then arranges them according to the ListPrice field in descending order.

Ex 5: Arranging products by Listprice in ascending order with aliases.

In [ ]:
SELECT 
    ProductID AS PID,
    Name AS ProductName,
    ListPrice AS Price
FROM 
    SalesLT.Product
ORDER BY 
    Price ASC;

Using column aliases, this query pulls product details from the SalesLT.Product table and arranges them in ascending order according to the Price alias in the ListPrice column.

Ex 5: filtering Products

In [ ]:
SELECT 
    ProductID,
    Name,
    ProductCategoryID
FROM 
    SalesLT.Product
WHERE 
    ProductCategoryID IN (1, 2, 3);


SELECT 
    ProductID,
    Name,
    ListPrice
FROM 
    SalesLT.Product
WHERE 
    ListPrice BETWEEN 50 AND 150;


SELECT 
    ProductID,
    Name
FROM 
    SalesLT.Product
WHERE 
    Name LIKE 'A%';


SELECT 
    ProductID,
    Name,
    ListPrice,
    Weight
FROM 
    SalesLT.Product
WHERE 
    ListPrice > 100 AND Weight > 10;


SELECT 
    ProductID,
    Name,
    ListPrice,
    Weight
FROM 
    SalesLT.Product
WHERE 
    ListPrice < 50 OR Weight > 200;

These queries use various criteria to filter products from the SalesLT.Product table:  
  
1\. Uses the "in" operator with values of 1, 2, or 3 to filter products based on ProductCategoryID.  
  
2\. Uses the "Between" operator to filter products based on ListPrice between 50 and 150.  
  
3\. Uses the "Like" operator to filter products by Name that begin with 'A'.  
  
4- Product filtering based on List Price \> 100 and Weight \> 10.  
  
5\. Products are filtered by List Price \< 50 or Weight \> 200.

Ex 5: filtering rows when columns are Null.

In [ ]:
SELECT 
    ProductID,
    Name,
    Size
FROM 
    SalesLT.Product
WHERE 
    Size IS NULL;

-- filtering customers when MiddleName is Null

SELECT 
    CustomerID,
    FirstName,
    MiddleName,
    LastName
FROM 
    SalesLT.Customer
WHERE 
    MiddleName IS NULL;

The entries in question are retrieved from the corresponding tables by these queries, which filter them according to whether or not certain columns contain NULL values. Whereas the second query filters customers from the SalesLT.Customer table where the MiddleName column is NULL, the first query filters products from the SalesLT.Product table where the Size column is NULL.

### **EXERCISE 6:**

Ex 6:  Explicit and implicit data conversion

In [ ]:
SELECT 
    ProductID,
    Name,
    ListPrice,
    CAST(ListPrice AS NVARCHAR) AS ListPriceString
FROM 
    SalesLT.Product;



SELECT 
    ProductID,
    Name,
    ListPrice,
    CONVERT(NVARCHAR, ListPrice) AS ListPriceString
FROM 
    SalesLT.Product;
    


SELECT 
    ProductID,
    Name,
    ListPrice + 0.0 AS ListPriceWithDecimal
FROM 
    SalesLT.Product;

The following queries illustrate various techniques for both explicit and implicit data conversion:  
  
The first query assigns the result to the ListPriceString column after explicitly converting the ListPrice column to an NVARCHAR data type using the CAST function.  
  
The second query uses the CONVERT function for explicit data conversion, yet it still yields the same result as the first.  
  
By adding 0.0 to the ListPrice column, the third query illustrates implicit data conversion during concatenation and forces the column to become a numeric data type with decimal places, yielding ListPriceWithDecimal.

Ex 6: Incorrect filtering due to NULL.

In [ ]:
SELECT 
    ProductID,
    Name,
    Size
FROM 
    SalesLT.Product
WHERE 
    Size IS NULL;

Product information, such as ProductID, Name, and Size, are retrieved from the SalesLT by this query. Filtering rows in the product table where the Size column is NULL.

Ex 6: String concatenation.

In [ ]:
SELECT 
    ProductID,
    Name,
    'Product: ' + Name AS ConcatenatedName
FROM 
    SalesLT.Product;

In the preceding query, ProductID and Name are selected from the SalesLT.Product database, and concatenation is used to join the string 'Product:' with the product name to generate a new column called ConcatenatedName.

Ex 6: Strings modification functions.

In [ ]:
SELECT 
    ProductID,
    UPPER(Name) AS UpperName
FROM 
    SalesLT.Product;



SELECT 
    ProductID,
    LOWER(Name) AS LowerName
FROM 
    SalesLT.Product;



SELECT 
    ProductID,
    Name,
    LEN(Name) AS NameLength
FROM 
    SalesLT.Product;



SELECT 
    ProductID,
    Name,
    SUBSTRING(Name, 1, 3) AS ShortName
FROM 
    SalesLT.Product;



SELECT 
    ProductID,
    Name,
    REPLACE(Name, 'Bike', 'Cycle') AS ReplacedName
FROM 
    SalesLT.Product;

The product names above are altered in a number of ways by these queries:

In the first query, use the "Upper" function to convert product names to uppercase.

The second query uses the "Lower" function to convert product names to lowercase.

The third query uses the "Len" function to retrieve the length of product names.

The fourth query uses the "Substring" function to extract the first three characters from product names.

Fifth query, use the "Replace" function to swap out all instances of "Bike" with "Cycle" in product names.

Ex 6: Using the Like operator with a character list, range of characters, and escape

In [ ]:
SELECT 
    ProductID,
    Name
FROM 
    SalesLT.Product
WHERE 
    Name LIKE '[MN]%';


SELECT 
    ProductID,
    Name
FROM 
    SalesLT.Product
WHERE 
    Name LIKE '[A-C]%';


SELECT 
    ProductID,
    Name
FROM 
    SalesLT.Product
WHERE 
    Name LIKE '%\_%' ESCAPE '\';

These queries use pattern matching to filter products based on their names:

  

First query: uses the Like operator with the pattern '\[MN\]%' to find products whose names begin with 'M' or 'N'.

Second query: uses Like operator with pattern '\[A-C\]%' to find products whose names begin with any letter between 'A' and 'C'.

The third query uses the Like operator with the pattern '%\_%' and an escape character '' to find products whose names contain the underscore character.

Ex 6: filtering based on Datetime

In [ ]:
SELECT 
    SalesOrderID,
    OrderDate
FROM 
    SalesLT.SalesOrderHeader
WHERE 
    OrderDate = '2023-01-01';



SELECT 
    SalesOrderID,
    OrderDate
FROM 
    SalesLT.SalesOrderHeader
WHERE 
    OrderDate < '2023-01-01';



SELECT 
    SalesOrderID,
    OrderDate
FROM 
    SalesLT.SalesOrderHeader
WHERE 
    YEAR(OrderDate) = 2023;

-

SELECT 
    SalesOrderID,
    OrderDate
FROM 
    SalesLT.SalesOrderHeader
WHERE 
    MONTH(OrderDate) = 1; -- January

Based on their order date, the orders in the \`SalesLT.SalesOrderHeader\` table are filtered using the queries above:

The first query looks for orders that have the order date 2023-01-01 in it.

The second query looks up orders placed prior to a given date (2023-01-01).

Using the "Year" function, the third query locates orders placed in the year 2023.

Using the "Month" function, the fourth query locates orders placed in the month of January.

Ex 6: Creating date using Getdate and DATETIMEFROMPARTS

In [ ]:
SELECT 
    GETDATE() AS CurrentDateTime;
SELECT 
    DATETIMEFROMPARTS(2023, 6, 1, 12, 0, 0, 0) AS SpecificDateTime;

These queries change the time and date fields: <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Using the Getdate() function, the first query retrieves the current date and time, which is aliased as CurrentDateTime.</span>

also aliasing it as SpecificDateTime, generates a specific datetime value corresponding to June 1, 2023, at 12:00:00 PM using the DATETIMEFROMPARTS function.

### **EXERCISE 7:**

Ex 7: Checking if sourceTab exists

In [ ]:
SELECT *
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_NAME = 'Product' AND TABLE_SCHEMA = 'SalesLT';

This query determines whether a table with the name "Product" exists in the "SalesLT" schema. For the corresponding table, all columns are returned.

Ex 7: Drope and Create a Copy of SalesLT.Product as Tab1

In [ ]:
DROP TABLE IF EXISTS Tab1;
SELECT *
INTO Tab1
FROM SalesLT.Product;

These queries control the creation and existence of tables:

Using \`DROP TABLE IF EXISTS\`, the first query deletes the Tab1 table if it is present then uses \`SELECT \* INTO to create a replica of the SalesLT.Product table called Tab1.

Ex 7: Deleting data from Tab1

In [ ]:
DELETE FROM Tab1
WHERE ListPrice < 100;
TRUNCATE TABLE Tab1;

The following queries control the information in the Tab1 table, <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;records from Tab1 where `ListPrice` is less than 100 are deleted&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">preserving the table structure but eliminating every entry and returning the table to its initial condition.</span>

Ex 7: Copying products into Tab1

In [ ]:
INSERT INTO Tab1 (Name, ProductNumber, Color, StandardCost, ListPrice, Size, Weight, ProductCategoryID, ProductModelID, SellStartDate, SellEndDate, DiscontinuedDate, ThumbNailPhoto, ThumbnailPhotoFileName, rowguid, ModifiedDate)
SELECT Name, ProductNumber, Color, StandardCost, ListPrice, Size, Weight, ProductCategoryID, ProductModelID, SellStartDate, SellEndDate, DiscontinuedDate, ThumbNailPhoto, ThumbnailPhotoFileName, rowguid, ModifiedDate
FROM SalesLT.Product
WHERE ListPrice >= 100;

This query copies all of the product columns from the SalesLT and inserts them into the Tab1 table.ListPrice in the product table is more than or equal to 100. By doing this, it is guaranteed that Tab1 will only include products that fit the given price range.

Ex 7: filtering Data in Tab2

In [ ]:
DROP TABLE IF EXISTS Tab2;
SELECT *
INTO Tab2
FROM SalesLT.Product;
DELETE FROM Tab2
WHERE ListPrice < 50;

The Tab2 table's data management and filtering are taken care of by ths quey. <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">In order to make sure there are no inconsistencies with the current data, the Tab2 table is first removed, if it is there. Next, all of the data and structure from the SalesLT. Lastly, lower-priced products are filtered out of Tab 2 by deleting rows with a ListPrice of less than 50.</span>

Ex 7: Syning and updating Tab2 with data from SalesLT.Product

In [ ]:
SET IDENTITY_INSERT Tab2 ON;
MERGE Tab2 AS target
USING (SELECT * FROM SalesLT.Product WHERE ProductID NOT IN (SELECT ProductID FROM Tab1)) AS source
ON (target.ProductID = source.ProductID)
WHEN MATCHED THEN
    UPDATE SET
        target.Name = source.Name,
        target.ProductNumber = source.ProductNumber,
        target.Color = source.Color,
        target.StandardCost = source.StandardCost,
        target.ListPrice = source.ListPrice,
        target.Size = source.Size,
        target.Weight = source.Weight,
        target.ProductCategoryID = source.ProductCategoryID,
        target.ProductModelID = source.ProductModelID,
        target.SellStartDate = source.SellStartDate,
        target.SellEndDate = source.SellEndDate,
        target.DiscontinuedDate = source.DiscontinuedDate,
        target.ThumbNailPhoto = source.ThumbNailPhoto,
        target.ThumbnailPhotoFileName = source.ThumbnailPhotoFileName,
        target.rowguid = source.rowguid,
        target.ModifiedDate = source.ModifiedDate
WHEN NOT MATCHED THEN
    INSERT (ProductID, Name, ProductNumber, Color, StandardCost, ListPrice, Size, Weight, ProductCategoryID, ProductModelID, SellStartDate, SellEndDate, DiscontinuedDate, ThumbNailPhoto, ThumbnailPhotoFileName, rowguid, ModifiedDate)
    VALUES (source.ProductID, source.Name, source.ProductNumber, source.Color, source.StandardCost, source.ListPrice, source.Size, source.Weight, source.ProductCategoryID, source.ProductModelID, source.SellStartDate, source.SellEndDate, source.DiscontinuedDate, source.ThumbNailPhoto, source.ThumbnailPhotoFileName, source.rowguid, source.ModifiedDate);
SET IDENTITY_INSERT Tab2 OFF;

These queries ensure that Tab2 has all required products that are not already in Tab1 by syncing and updating Tab2 with data from the SalesLT.Product table.

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">First, enabling IDENTITY_INSERT for Tab2. This enables values to be explicitly inserted into Tab2's ProductID identification field.</span>

Second Merging Data into Tab2: Updates Tab2 with SalesLT data using the MERGE command.Product for which Tab1's ProductID is null. Non-matching rows are added to Tab2 and existing matching rows are modified.

Third Disabling IDENTITY\_INSERT for Tab2: This option restores the ProductID identity column to its default state by disabling explicit insertion into it.

### **EXERCISE 8:**

Ex 8: changing Data types with Cast, Convert, and Parse

In [ ]:
SELECT 
    ProductID,
    Name,
    CAST(ListPrice AS NVARCHAR(50)) AS ListPrice_Cast,
    CONVERT(NVARCHAR(50), ListPrice) AS ListPrice_Convert,
    PARSE(CAST(ListPrice AS NVARCHAR(50)) AS FLOAT) AS ListPrice_Parse
FROM 
    SalesLT.Product;

The query shows how to modify the data type of the ListPrice column in the SalesLT by using the "Cast", CONVERT, and "Parse" functions.Table of products:

\- Cast Function: Renames ListPrice as ListPrice\_Cast and converts it to an NVARCHAR(50) data type.

\- Convert Function: This function renames ListPrice as ListPrice\_Convert after converting it to an NVARCHAR(50) data type.

\- Parse Function: ListPrice is first converted to NVARCHAR(50) using Cast, and then it is parsed using the Parse function back into a Float data type, renaming it as ListPrice\_Parse.

Ex 8: Error when conversion string to integer

In [ ]:
SELECT 
    ProductID,
    Name,
    CONVERT(INT, Name) AS Name_As_Int
FROM 
    SalesLT.Product;

This query uses the "Covert" function to try and convert the Name column from the SalesLT.Product table to an INT data type. However, this conversion will result in an error because it is impossible to convert a string to an integer because the Name most certainly contains string values.

Ex 8: Converting Data Types using Try convert

In [ ]:
SELECT 
    ProductID,
    Name,
    TRY_CONVERT(INT, Name) AS Name_As_Int
FROM 
    SalesLT.Product;

The preceding query makes a safe effort to convert the SalesLT.Product table's Name column to an INT data type by using the TRY\_CONVERT function. TRY\_CONVERT will not raise an error in the event of a conversion error; instead, it will return NULL, enabling the query to continue running uninterrupted.

Ex 8: Managing Null Values

In [ ]:
SELECT 
    ProductID,
    Name,
    Size,
    ISNULL(Size, 'No Size') AS Size_ISNULL,
    COALESCE(Size, 'No Size') AS Size_COALESCE
FROM 
    SalesLT.Product;

Here is How to deal with NULL values in the Size column from the SalesLT. Product table with COALESCE and ISNULL functions used:

'No Size' is substituted for NULL values in the Size field by the ISNULL function. <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">The COALESCE function offers an alternate method of handling NULL values by substituting 'No Size' for them. Although it can support several expressions and return the first non-null value, it functions similarly to ISNULL.</span>

Ex 8: Conditional Column with IIF.

In [ ]:

SELECT 
    ProductID,
    Name,
    ListPrice,
    IIF(ListPrice > 100, 'Expensive', 'Cheap') AS PriceCategory
FROM 
    SalesLT.Product;

Using the ListPrice data from the SalesLT.Product table as a basis, this query creates a conditional column named PriceCategory using the IIF function. The category is classified as 'Expensive' if the ListPrice is greater than 100, and as 'Cheap' otherwise.